body {
  font-family: 'Dia-Regular', 'Helvetica', sans-serif;
}

a {
  color: black;
}

ul, li {
  display: inline-block;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-75-offset {
  min-height: calc(75vh + 51px);
}

.vh-75 {
  height: 75vh;
}

.z--1 {
  z-index: -1;
}

.mt-75vh {
  margin-top: 75vh;
}

.mt-75vh-offset {
  margin-top: calc(75vh + 51px);
}

#section {
  display: none;
}

.subhero {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.pointer-none {
  pointer-events: none;
}

.narrow {
  max-width: 50%;
}

.mt-51 {
  margin-top: 51px;
}

.shadow {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

#content {
  width: 100%;
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=password] {
  padding: 12px 16px;
  margin: 8px 8px;
  box-sizing: border-box;
}

#content button {
  padding: 12px 16px;
}

.offset {
  margin-top: calc(75vh);
}

.grid-layout {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(24, 1fr);
}

.grid-layout .span-24 {
  grid-column-end: span 24;
  grid-column-start: 1;
}

.grid-layout .span-22 {
  grid-column-end: span 22;
  grid-column-start: 2;
}


.grid-layout .span-20 {
  grid-column-end: span 20;
  grid-column-start: 3;
}

#spin {
  display: inline-block;
  transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
}
