/*General*/

* {
    box-sizing: border-box;
    list-style: none; }

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    font-family: 'Dia-Regular', 'Helvetica', sans-serif;}

img {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
}


/*Site Layout*/

.page_container {
  overflow: hidden; }

.wrapper {
  position: relative;
  margin: 0rem 2rem;
}
.hide {
  display: none;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-wrapper {
  width: 100%;
}


.hr {
  border-bottom: 1px solid #dadada;
}

.spacer {
  margin: 3rem 0;
}

.row-space {
  margin-bottom: 32px !important;
}

.bottom-space {
  margin-top: 40px !important;
  margin-bottom: 32px !important;
}

@media (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

  }
}

@media (max-width: 768px) {
  .twoup .col-md-6:nth-child(2) {
    margin-top: 3rem;
  }
}





/* Sidewide Typography*/

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: normal;
  margin: 0; }

a {
  font-size: .85rem;
  text-decoration: none;
  color: #1A1A1A;
}

a:visited {
  color: #1A1A1A;
}

a:hover {
  color: #1A1A1A;
}

.underline {
  border-bottom: 1px solid #1A1A1A;
  display: block;
}

button {
  background-color: transparent;
  padding: 0px;
  border: none;
}

button:focus {
  outline: none;
}


/*Site Header*/

header {
  z-index: 1;
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid #767676;
}

.index header {
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid #767676;
}

.title_container {
  text-align: center;
  margin-top: 10px; }

.title {
  font-size: 1.145rem;
  line-height: 40px; }

header .desktop {
  position: absolute;
  top: 0;
  left: 0 }

nav a.active {
  text-decoration: underline;
}


header .mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
    header .desktop {
        display: none;
    }

    header .mobile {
      display: block;
    }
}

#mobile_wrapper {
  display: block;
  position: fixed;
  opacity: 0;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -1;
}

.mobile_nav {
  background-color: white;
  transition: all 5s ease-in;
  height: 100vh;
  opacity: 1;
}


.mobile_nav ul {
  margin: 0;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  padding: 0;
}

.mobile_nav li {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 8px;
  cursor: pointer;

}

.mobile_nav li:first-child {
  margin-top: 25px;
}

.mobile_nav a {
  font-size: 3.25rem;
}

.mobile_nav a:hover {
  text-decoration: none;
}

nav a {
  line-height: 40px;
}

nav a:nth-child(2) {
  margin-left: 1rem;
}

/*Footer*/

footer {
  text-align: left;
  background: #fff;
  padding: 1rem 2rem;
}

footer h2 {
  font-size: 24px;
}

footer p {
  margin-top: 5px;
  font-size: 14px;
}

footer ul {
  padding: 0px;
}

footer ul li {

  margin-right: 10px;
}

footer ul li a {
  color: #9E9B9B;
  text-decoration: underline;
}


/*Site Intro*/

.intro {
   width: 100%;
   min-height: 75vh;
   height: auto;
   position: fixed;
   z-index: -1;
 }

.intro .p-wrapper {
  margin: 0px 15px;
  max-width: 930px; }

.intro p {
  font-size: 42px;
  line-height: 60px; }

.index .browser {
  width: 85%;
  margin: 0 auto;
}

.index .browser {
  overflow: hidden !important;
}

.index .window__wrapper {
  overflow: hidden !important;
}

.product-slider__arrow {
  stroke: #1A1A1A;
}


@media screen and (max-width: 768px) {
    .index .browser {
        width: 100%;
    }
    .slick-arrow {
      display: none !important;
    }
}


/*Feature section    */

#workBrowser {
  opacity: 0;
}

.featured {
  padding: 20px 0px;
  margin: 25px;
}

.feature_insert {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.browser {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: #f8f8f8 solid 1px;
}

.browser__top {
  background-color: #f4f4f4;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
}

.window__wrapper {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 4px;
}

.window_img {
  width: 100%;
  height: auto;
  transition: all 0.15s ease 0s;
}

.browser__dots {
  top: 10px;
  left: 12px;
}
.browser__dots,
.browser__dots:before,
.browser__dots:after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
}
.browser__dots:before {
  content: '';
  top: 0;
  left: 14px;
}
.browser__dots:after {
  content: '';
  top: 0;
  left: 28px;
}

.browser__title {
  display: block;
  position: relative;
  font-size: .76rem;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

.work_insert {
  margin: 0 auto;
  padding: 5% 5%;
}

.works .window {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.works .window:hover {
  opacity: .8;
}

.window__wrapper:focus {
  outline: none;
}

#featured:focus {
  outline: none;
}

#featured:focus {
  outline: none;
}

.slick-slider:focus {
  outline: none;
}

.slick-slide:focus {
  outline: none;
}

/*Selected Work*/

.filter {
  margin: 3rem 0rem;
  visibility: none;
}

.filter ul, li {
  display: inline-block;
  color: #D3D3D3;
}

.filter li {
  cursor: pointer;
}

.filter ul li:not(:first-child) {
  margin-left: 1.5rem;
}

li.active {
  color: #1A1A1A;
  text-decoration: underline;
}

.work_title {
  margin-top: 8px;
}

/*Work Page*/


.post {
  background-color: white;
}

.image-row {
  background-color: #fff;
  min-height: 550px;
  display: flex;
  align-items: center;
  height: 100%;
}

.image-row .shadow {
    filter: drop-shadow(0 0px 8px #D3D3D3);
    max-width: 1300px;
    margin: 0 auto;

}

.zoom-overlay-open .image-row .shadow, .zoom-overlay-transitioning .image-row .shadow {
  filter: none;
}


.padding {
    display: block!important;
    width: 85.5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

.mobile .padding {
    display: block!important;
    width: 85.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 7% 25%;
}


@media screen and (max-width: 768px) {
    .image-row {
        min-height: 0px;
    }
}

.work-intro {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.work-intro h2 {
  font-size: 21px;
  line-height: 28px;
}

.img-caption {
  width: 100%;
  text-align: left;
  color: #adacac;
  font-size: 14px;
  margin: 10px 0px;
}

.info {
  padding: 30px 0px;
}

.info:not(:first-child) {
  border-top: 1px solid #dadada;
}

.info p, .info h4, .info h3, .info a, .info a:visited {
  color: #9E9B9B;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.info a {
  text-decoration: underline;
}

.info--header h3 {
  font-size: 14px;
  font-weight: bold;
  color: #1A1A1A;
}

@media screen and (max-width: 768px) {
  .info--header h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.info h4 {
  font-size: 14px;
  color: #1A1A1A;
}

.subhero {
  display: block;
}

.mobile_subhero {
  display: none;
}

.subhero-image {
  height: 75vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .subhero {
    display: none;
  }
  .mobile_subhero {
    display: block;
  }
}

.post-video__video {
  width: 100%;
  display: block;
}

.video .shadow {
  padding: 10px;
}



/*About */

.about-row {
  margin-top: 2rem;
}

.about h1,h2,h3 {
  font-size: 16px;
}

.about p {
  font-size: 13px;
}

.about h2 {
  color: #adacac;
  text-decoration: underline;
}

.about .tab {
  display: block;
}


@media screen and (max-width: 768px) {
.about h1 {
      font-size: 22px;
      width: 100%;
  }
.about .tab {
    display: none;
  }

.about .section-header {
    width: 100%;
    margin-bottom: 15px;
  }
}

.featured-wrapper {
  margin-top: 48px;
  margin-bottom: 64px;
}

.featured-items {
  cursor: default;
}

.item {
  text-align: center;
  width: 33.33%;
  margin: 0px 25px;
  outline: none; }

.item img {
  object-fit: fill;
  width: 100%;
  height: auto;}

.slick-slide {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.item {
  pointer-events: none;
  filter: grayscale(1);
  opacity: .4;
  transition: filter .25s ease-out, opacity .4s ease-out;
}

.slick-active {
  pointer-events: auto;
  filter: grayscale(0);
  opacity: 1
}

.slick-arrow {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 13%;
  top: 0;
  opacity: .8
}

.slick-arrow:hover {
  text-decoration: underline;
  opacity: 1;

}

.slick-prev {
  left: 0px;
  text-align: left;
  margin-left: 15px;
}

.slick-next {
  text-align: right;
  margin-right: 15px;
  right: 0px;
}

/* Dots */



.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -32px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 32px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/* New Stuff */

.projects {
  margin-top: 75vh;
  background-color: white;
  border-top: 1px solid #767676;
}

.projects .row {
  border-bottom: 1px solid #767676;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project a img {
  width: 66%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 66px 0px;
}

/* Construction */

.temp {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp h2 {
  font-size: 48px;
  max-width: 600px;
}
