/*General*/

* {
    box-sizing: border-box;
    list-style: none; }

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    font-family: 'Dia-Regular', 'Helvetica', sans-serif;}

img {
  width: 100%;
}

/*Site Layout*/

.page_container {
  overflow: hidden; }

.wrapper {
  position: relative;
  margin: 0rem 1rem;
}
.hide {
  display: none;
}

section {
  background-color: white;
}

.hr {
  border-bottom: 1px solid #dadada;
}

.spacer {
  margin: 3rem 0;
}


/* Sidewide Typography*/

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dia-Regular';
  src: url('../assets/Dia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: normal;
  margin: 0; }

a {
  font-size: .85rem;
  text-decoration: none;
  color: #1A1A1A;
}

a:visited {
  color: #1A1A1A;
}

a:hover {
  color: #1A1A1A;
}

.underline {
  border-bottom: 1px solid #1A1A1A;
  display: block;
}

/*Site Header*/

header {
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: hsla(0,0%,100%,.98);
  position: fixed;
  padding: 1rem 0;
  border-bottom: 1px solid #FAF9F6;
  top: 0;
  left: 0 }

.title_container {
  text-align: center; }

.title {
  font-size: 1.145rem;
  line-height: 40px; }

.desktop {
  position: absolute;
  top: 0;
  left: 0 }

nav a.active {
  text-decoration: underline;
}


.mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
      display: block;
    }
}

#mobile_wrapper {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}

.mobile_nav {
  margin-top: 25%;
}

.mobile_nav ul {
  margin: 0;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  padding: 0;
}

.mobile_nav li {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 8px;
  cursor: pointer;

}

.mobile_nav a {
  font-size: 3.25rem;
}

.mobile_nav a:hover {
  text-decoration: none;
}

#turnOn {
  z-index: 999;
}

#turnOn a {
  margin-left: 0px;
}


nav a {
  line-height: 40px;
  margin-left: 1rem;
}

/*Footer*/

footer {
  text-align: left;
  background: #f8f8f8;
  padding: 8rem 2rem;
}

footer h2 {
  font-size: 24px;
}

footer p {
  margin-top: 5px;
  font-size: 14px;
}

footer ul {
  padding: 0px;
}

footer ul li {

  margin-right: 10px;
}

footer ul li a {
  color: #9E9B9B;
  text-decoration: underline;
}


/*Site Intro*/

.intro {
    background-color: #f8f8f8; }

.intro_insert {
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center; }

.intro p {
    max-width: 700px;
    font-size: 2.625rem;
    line-height: 4.25rem; }


/*Feature section    */

.feature_insert {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.browser {
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 5px;
  overflow: hidden;
  border: #f8f8f8 solid 1px;
}

.browser__top {
  background-color: #f4f4f4;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
}

.window_img {
  width: 100%;
  height: auto;
}

.browser__dots {
  top: 10px;
  left: 12px;
}
.browser__dots,
.browser__dots:before,
.browser__dots:after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
}
.browser__dots:before {
  content: '';
  top: 0;
  left: 14px;
}
.browser__dots:after {
  content: '';
  top: 0;
  left: 28px;
}

.browser__title {
  display: block;
  position: relative;
  font-size: .76rem;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

.work_insert {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*Selected Work*/

.filter {
  margin: 3rem 0rem;
  visibility: none;
}

.filter ul, li {
  display: inline-block;
  color: #D3D3D3;
}

.filter li {
  cursor: pointer;
}

.filter ul li:not(:first-child) {
  margin-left: 1.5rem;
}

li.active {
  color: #1A1A1A;
  text-decoration: underline;
}

.work_title {
  margin-top: 8px;
}

/*Work Page*/

.post {
  background-color: white;
}

.image-row {
  background-color: #f8f8f8;
  padding: 40px 70px;
  min-height: 550px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .image-row {
        min-height: 0px;
    }
}


.work-intro {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.work-intro h2 {
  font-size: 21px;
  line-height: 28px;
}

.img-caption {
  width: 100%;
  text-align: left;
  color: #adacac;
  font-size: 14px;
  margin: 10px 0px;
}

.info {
  padding: 30px 0px;
}

.info:not(:first-child) {
  border-top: 1px solid #dadada;
}

.info p, .info h4, .info h3, .info a, .info a:visited {
  color: #9E9B9B;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.info a {
  text-decoration: underline;
}

.info--header h3 {
  font-size: 14px;
  font-weight: bold;
  color: #1A1A1A;
}

@media screen and (max-width: 768px) {
  .info--header h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.info h4 {
  font-size: 14px;
  color: #1A1A1A;
}

.subhero {
  display: block;
}

.mobile_subhero {
  display: none;
}

.subhero-image {
  height: 75vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .subhero {
    display: none;
  }
  .mobile_subhero {
    display: block;
  }
}

/*About */

.about-row {
  margin-top: 2rem;
}

.about h1,h2,h3 {
  font-size: 16px;
}

.about p {
  font-size: 13px;
}

.about h2 {
  color: #adacac;
  text-decoration: underline;
}

.about .tab {
  display: block;
}


@media screen and (max-width: 768px) {
.about h1 {
      font-size: 22px;
      width: 100%;
  }
.about .tab {
    display: none;
  }

.about .section-header {
    width: 100%;
    margin-bottom: 15px;
  }
}
