body {
  font-family: 'Dia-Regular', 'Helvetica', sans-serif;
}

a {
  color: black;
}

ul, li {
  display: inline-block;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-75-offset {
  min-height: calc(75vh + 51px);
}

.vh-75 {
  height: 75vh;
}

.z--1 {
  z-index: -1;
}

.mt-75vh {
  margin-top: 75vh;
}

.mt-75vh-offset {
  margin-top: calc(75vh + 51px);
}

#section {
  display: none;
}

.subhero {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.pointer-none {
  pointer-events: none;
}

.narrow {
  max-width: 50%;
}

.mt-51 {
  margin-top: 51px;
}
