  <div class="container">
      <div class="row">
          <div class="work_insert col-md-12">
              <div class="browser">
                  <div class="browser__top">
                      <span class="browser__dots"></span>
                      <span class="browser__title">Black Friday Fund</span>
                  </div>
                  <div class="window__wrapper">
                      <div class="window">
                          <img class="window_img" src="img/image-1.png" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="work_insert col-md-6">
              <div class="browser">
                  <div class="browser__top">
                      <span class="browser__dots"></span>
                      <span class="browser__title">Elevate Summer</span>
                  </div>
                  <div class="window__wrapper">
                      <div class="window">
                          <img class="window_img" src="img/image-2.png" />
                      </div>
                  </div>
              </div>
          </div>
          <div class="work_insert col-md-6">
              <div class="browser">
                  <div class="browser__top">
                      <span class="browser__dots"></span>
                      <span class="browser__title">The Cádiz Shop</span>
                  </div>
                  <div class="window__wrapper">
                      <div class="window">
                          <img class="window_img" src="img/image-3.png" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
