<footer class="pv5 ph3 ph4-l pv2 f6 off-grey bt b--light-gray" id="footer">
    <a class="link underline off-grey mr3 darken" href="mailto:wmaxand@gmail.com" target="_blank">wmaxand@gmail.com</a>
    <a class="link underline off-grey mr3 darken" href="http://www.instagram.com/willanderson" target="_blank">Instagram</a>
    <a class="link underline off-grey mr3 darken" href="http://www.twitter.com/willanderson" target="_blank">Twitter</a>
    <a class="link underline off-grey mr3 darken" href="http://www.linkedin.com/in/wmaxand" target="_blank">LinkedIn</a>
</footer>
