<footer id="footer">
    <h2>Thanks for stopping by.</h2>
    <p>Reach me by email at wmaxand@gmail.com. Follow me on the internet using any of the links below. </p>
    <ul>
        <li><a class="http:/instagram.com/willanderson">Instagram</a></li>
        <li><a class="http:/twitter.com/willanderson">Twitter</a></li>
        <li><a class="https://www.pinterest.com/andersonwill/">Pinterest</a></li>
        <li><a class="github.com/willanderson">GitHub</a></li>
        <li><a class="http:/instagram.com/willanderson">LinkedIn</a></li>
    </ul>
</footer>
