<footer id="footer" class="footer bg-light-gray min-vh-75 flex flex-column items-start justify-center">
    <p class="pa4 f2 measure">Reach me by email at wmaxand@gmail.com or use one of the links below.</p>
    <ul classs="flex">
        <li class="mr3"><a class="dim" href="http://www.instagram.com/willanderson" target="_blank">Instagram</a></li>
        <li class="mr3"><a class="dim" href="http://www.twitter.com/willanderson" target="_blank">Twitter</a></li>
        <li class="mr3"><a class="dim" href="http://www.linkedin.com/in/wmaxand" target="_blank">LinkedIn</a></li>
    </ul>
</footer>
