<header id="header">
    <div class="wrapper">
          <div class="title_container">
              <a href="/" class="title">http://willanderson.co/</a>
          </div>
          <nav class="desktop">
              <a href="/about/">About</a>
              <a href="/work/">Work</a>
          </nav>
          <nav id="turnOn" class="mobile">
            <a id="menuToggle" href="#">Menu</a>
          </nav>
    </div>
    <div id="mobile_wrapper" class="hide">
      <div class="mobile_nav">
        <ul>
          <li>
            <a href="/about/" class="underline">About</a>
          </li>
          <li>
            <a href="/work/" class="underline">Work</a>
          </li>
          <li>
            <a href="/work#contact/" class="underline">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</header>
