<div class="w-100 flex flex-row flex-wrap z-5">

  <div class="intro pt6-ns flex items-center  mt-51">
      <div class="p-wrapper w-60-ns w-100 f3 pa3 center">
          <p class="measure-narrow">{{ page.content }}</p>
      </div>
  </div>

  {% for image in page.images %}
      {% if image.path contains "iframe" %}
      <div class="w-90-l w-100 mw9 center min-vh-100-l h-auto flex items-center justify-center {% if image.narrow %} narrow {%endif %} {% if image.addpadding %} pa6 {%endif %}">
      <div class="w-100 h-auto shadow" style="padding:61.86% 0 0 0;position:relative;">
          {{ image.path }}
      </div>
      </div>
      {% else %}
      <div data-aos="fade-up" class="w-90-l w-100 mw9 center min-vh-100-l h-auto flex items-center justify-center {% if image.narrow %} narrow {%endif %} {% if image.addpadding %} pa6 {%endif %}">
          <div>
            <img class="h-auto" src="{{image.path}}" />
          </div>
      </div>
      {% endif %}

  {% endfor %}

</div>
<script src="https://player.vimeo.com/api/player.js"></script>
