---
layout: default
---

<div class="container">
    <div class="row about-row">
        <div class="col-md-12">
            <div class="row">
                <div class="section-header col-md-4">
                    <h1 class>Intro</h1>
                </div>
                <div class="col-md-2 tab"></div>
                <div class="col-md-6">
                    {{ page.intro }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spacer hr"></div>
            </div>

            {% for job in page.background limit: 1 %}
            <div class="row">
                <div class="section-header col-md-4">
                    <h1>Background</h1>
                </div>
                <div class="col-md-2">
                    <h2>{{ job.company }}</h2>
                </div>
                <div class="col-md-6">
                    <h3>{{ job.title }} </h3>
                    <p>{{ job.description }}</p>
                </div>
            </div>
            {% endfor %}

            {% for job in page.background offset: 1 %}
            <div class="row">
                <div class="tab col-md-4"></div>
                <div class="col-md-2">
                    <h2>{{ job.company }}</h2>
                </div>
                <div class="col-md-6">
                    <h3>{{ job.title }} </h3>
                    <p>{{ job.description }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 spacer hr"></div>
            </div>

            <div class="row">
                <div class="section-header col-md-4">
                    <h1>Contact</h1>
                </div>
                <div class="tab col-md-2"></div>
                <div class="col-md-6">
                    <h3>{{ page.email }}</h3>
                    <h3>{{ page.phone }}</h3>
                    <div class="spacer"></div>
                    {% for item in page.social %}
                        <h3><a href="{{ item.url }}">{{ item.account }}</a></h3>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spacer hr"></div>
            </div>
        </div>
    </div>
</div>
