<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/fav.png"/>
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type "text/css" href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/zoom.css" rel="stylesheet">
    <link rel="stylesheet" type "text/css" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/js/zoom.js"></script>
    <!-- <script src="/js/footer-reveal.min.js"></script> -->
    <script src="/js/app.js"></script>
</head>

<body>

  {% include header.html %}
  <section class="{{ page.layout }}">
      {{ content }}
  </section>

  {% if page.footer == true %} {% include footer.html %} {% endif %}


</body>
</html>
