---
layout: default
---

<div class="intro min-vh-75-offset flex items-center justify-center fixed z--1 top-0 w-100 bg-light-gray">
  <div class="p-wrapper pa4 f1-ns f2">
    <div class="measure-narrow">Hi, I’m Will <div id="spin">☻</div> I’m a senior product designer at Artsy. Prior, I was at Squarespace and Everlane. I live in ☞ Brooklyn, New York.</div>
  </div>
</div>

<div class="featured-work offset bg-white bt b--black-50 grid-layout">
  <div class="flex items-center justify-center pv6-ns pv4 span-24">
    <img src="img/featured/102A.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-20">
    <img src="img/featured/img1.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-20">
    <img src="img/featured/img02.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-24">
    <img src="img/featured/img03.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-20">
    <img src="img/featured/img4.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-24">
    <img src="img/featured/img5.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img6.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img7.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img8.png" />
  </div>
  <!-- <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img12.png" />
  </div> -->
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img9.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img10.png" />
  </div>
  <div class="flex justify-center items-center pv6-ns pv4 span-22">
    <img src="img/featured/img11.png" />
  </div>
  <div class="flex justify-center items-center pv6 span-22">
    <a href="/work" class="f1-ns f2 pointer dim">More Work ➫</a>
  </div>

</div>
