---
layout: default
---

<div class="intro min-vh-75-offset flex items-center fixed z--1 top-0">
  <div class="p-wrapper pa4 f1-ns f2">
    <p class="measure-narrow">{{ page.intro }}</p>
  </div>
</div>



<div id="indexProjects" class="projects bg-white mt-75vh-offset bt b--black-50">
  <div class="flex flex-wrap">

    {% assign sorted_work = site.works | sort:"position" %}
    {% for work in sorted_work %}
    <div class="w-50-ns w-100-m w-100 mw9 br bb b--black-50">
      <div class="h8 pa5 flex items-center justify-center h-100">
        <a class="project" name="{{ work.url | replace: '/work/', ''}}" href="{{ work.url }}">
          <h1></h1>
          <img class="window_img" src="{{ work.thumbnail_path }}" />
        </a>
      </div>
    </div>
    {% endfor %}

  </div>

</div>
