---
layout: default
---

<div class="intro center-all">
    <div class="p-wrapper">
        <p>{{ page.intro }}</p>
    </div>
</div>

  <div class="work center-all">
    <div class="featured-wrapper">
        <div class="featured-items">
          {% for work in site.works %}
            {% if work.featured == true %}
            <div class="item">
                <div class="browser__top">
                    <span class="browser__dots"></span>
                    <div id="titles">
                        <span class="browser__title">{{work.title }}</span>
                    </div>
                </div>
                <div class="window__wrapper">
                    <a href="{{ work.url }}"><img src="{{ work.thumbnail_path }}"></a>
                </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>
