---
layout: default
---

{% if page.bg-image %}
<div class="block z--1 dn db-ns mb5">
  <div class="vh-75 w-100 tc fixed flex justify-center items-center z-0 pointer-none">
    <div id="projectTitle" class="f-subheadline white">{{ page.title }}</div>
  </div>
  <div class="vh-75 subhero f1 white tc pointer-none" style="background-image: url({{ page.bg-image }})"></div>
</div>

<div class="mobile_subhero dn-ns">
  <img class="mobile_subhero" src="{{ page.bg-image}} " />
</div>
{% endif %}

<div class="w-100 flex flex-row flex-wrap z-5">

  <div class="intro pt6-ns flex items-center  mt-51">
      <div class="p-wrapper w-60-ns w-100 f3 pa3 center">
          <p class="measure-narrow">{{ page.content }}</p>
      </div>
  </div>

  {% for image in page.images %}
      {% if image.path contains "iframe" %}
      <div class="w-90-l w-100 mw8 center min-vh-100-l h-auto flex items-center justify-center ph4 mv2">
      <div class="w-100 h-auto shadow" style="padding:61.86% 0 0 0;position:relative;">
          {{ image.path }}
      </div>
      </div>
      {% else %}
      <div data-aos="fade-up" class="w-90-l w-100 mw9 center min-vh-100-l h-auto flex items-center justify-center ph4 ph0-l {% if image.narrow %} narrow {%endif %} {% if image.addpadding %} pa3 {%endif %}">
          <div>
            <img class="h-auto w-100 mw8-ns" src="{{image.path}}" />
          </div>
      </div>
      {% endif %}

  {% endfor %}

</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<script>
    AOS.init();
</script>
